---
import Menu_perfil from '../components/Menu_perfil.astro';
import Layout from '../layouts/Layout.astro';
import Rodape from '../components/Rodape.astro';
---

<Layout>
	<main>
		<Menu_perfil/>
		<h2 class="text-4xl font-bold text-center">Experiencia de Trabalho</h2>


		<Rodape/>
	</main>	
</Layout>
