---
import Menu_perfil from '../components/Menu_perfil.astro';
import Layout from '../layouts/Layout.astro';
import Rodape from '../components/Rodape.astro';
import Quadro from '../components/Quadro_experiencia.astro';
import Quadro_tarefa from '../components/Quadro_tarefa.astro';

import robo from '../images/robo.gif';
import foguete from '../images/foguete.png';

const mySlides = [foguete, robo];

---

<Layout>
	<main>
		<Menu_perfil/>
		<h2 class="text-4xl mb-15 font-bold text-center">XP</h2>

		<div class="flex flex-col gap-4  mx-auto ">
			<Quadro 
			titulo="Shopcar"
			ano="2022 - Atualmente"
			descricao="Contribuindo para a implementação de novas funcionalidades, otimização do sistema e integrações com inteligência artificial. Trabalho com Next.js, React, JavaScript, PHP e SQL, desenvolvendo soluções para o front-end, back-end e banco de dados. Minhas contribuições incluem a melhoria de consultas SQL, aprimoramento da performance da aplicação e a resolução de problemas técnicos, garantindo um fluxo eficiente entre a interface do usuário e a API. Também colaboro na integração de IA para automação de processos e aprimoramento da experiência do usuário, sempre priorizando usabilidade, escalabilidade e segurança."
			/>
			<Quadro 
			titulo="Infoimóveis"
			ano="2022 - Atualmente"
			descricao="Atuo no desenvolvimento da plataforma InfoImóveis, contribuindo para a implementação de novas funcionalidades, otimização do sistema e integrações com inteligência artificial. Trabalho com Next.js, React, JavaScript, PHP e SQL, desenvolvendo soluções para o front-end, back-end e banco de dados. Entre minhas contribuições, destaco a criação de um chatbot com IA, projetado para automatizar o atendimento ao cliente e melhorar a experiência do usuário. Além disso, colaboro na integração de IA para otimização de processos, bem como na melhoria da performance do sistema e na resolução de desafios técnicos, sempre priorizando usabilidade, escalabilidade e segurança."
			/>
			<Quadro
			titulo="Br Hospedagem"
			ano="2022 - Atualmente"
			descricao="Suporte dedicado aos clientes para garantir a máxima eficiência e segurança tanto na hospedagem de sites quanto na de emails. Nosso serviço de hospedagem de sites proporciona desempenho robusto, backups regulares e proteção contra ameaças, aliado a uma interface intuitiva que facilita o gerenciamento dos conteúdos online. No que diz respeito à hospedagem de emails, oferecemos soluções confiáveis que asseguram a continuidade da comunicação, com recursos avançados como filtros antispam e suporte para múltiplas contas, permitindo que os usuários mantenham uma comunicação organizada e segura. Meu papel é orientar e solucionar dúvidas, garantindo que os clientes tirem o máximo proveito dos serviços e tenham uma experiência completa e satisfatória na plataforma."
			/>
		</div>

		<h2 class="text-4xl my-15 font-bold text-center">Same Works</h2>

		<div class="flex flex-col gap-7  mx-auto ">

			<Quadro_tarefa titulo="blalba" skills={[
				'HTML',
				'CSS',
				'JavaScript',
				'React',
				'Node.js',
				'Tailwind CSS',
				'Astro',
				'TypeScript',
			  ]} descricao="descricao" listaImagens={mySlides} />
	
			<Quadro_tarefa titulo="blalba" skills={[
				'HTML',
				'CSS',
				'JavaScript',
				'React',
				'Node.js',
				'Tailwind CSS',
				'Astro',
				'TypeScript',
			  ]} descricao="descricao" listaImagens={mySlides} />

		</div>		
		
	</main>	
	<Rodape/>
</Layout>