---
const { lightIcon, darkIcon, href } = Astro.props;
---

<a 
  id="themeIcon" 
  class="p-2 rounded-full border hover:bg-gray-800 hover:bg-gray-200 btn-icon"
  href={href}
  target="_blank"
  rel="noopener noreferrer"
>
  <svg id="themeSvg" class="w-6 h-6">
    <use href={lightIcon} class="light-icon" />
    <use href={darkIcon} class="dark-icon hidden" />
  </svg>
</a>

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const svgEl = document.getElementById('themeSvg');
    const lightIconEl = svgEl.querySelector('.light-icon');
    const darkIconEl = svgEl.querySelector('.dark-icon');

    const updateIcon = () => {
      if (document.body.classList.contains('dark')) {
        lightIconEl.classList.add('hidden');
        darkIconEl.classList.remove('hidden');
      } else {
        lightIconEl.classList.remove('hidden');
        darkIconEl.classList.add('hidden');
      }
    };

    updateIcon();

    const observer = new MutationObserver((mutationsList) => {
      mutationsList.forEach((mutation) => {
        if (mutation.type === 'attributes' && mutation.attributeName === 'class') {
          updateIcon();
        }
      });
    });

    observer.observe(document.body, { attributes: true, attributeFilter: ['class'] });
  });
</script>