---
import {name_user} from '../constants'
import ImagePerfil from './Image_perfil.astro'
import BotaoTema from './Botao_tema.astro'
import Icon from './Icon.astro'

const lightIconLinkedin = '../assets/linkedin_claro.svg';
const darkIconLinkedin = '../assets/linkedin_escuro.svg';

---
<BotaoTema />
<container class="w-full max-w-5xl mx-auto px-5 box-border flex flex-col items-center justify-center min-h-screen">
    <div class="flex flex-col items-center">
        <ImagePerfil size="small"/>
        <div class="text-center mt-10 flex flex-col items-center gap-8">
            <t1 class="font_title text-6xl">{name_user}</t1>
            <t2 class="font_title text-3xl">Web Developer</t2>
            <p class="text-base mt-4">Desenvolvedor full stack que trabalha com a criação de soluções eficientes, integrando diversas ferramentas de IA para otimizar processos e automações.</p>
            <div class="flex gap-4 mt-4">
                <Icon lightIcon={lightIconLinkedin} darkIcon={darkIconLinkedin} href="https://www.linkedin.com" />
                <!-- <p>e-mail</p> -->
            </div>
        </div>
    </div>
</container>