---
import {name_user} from '../constants'
import ImagePerfil from './Image_perfil.astro'
import BotaoTema from './Botao_tema.astro'
---
<BotaoTema />
<container class="w-full max-w-5xl mx-auto px-5 box-border">
    <div class="flex flex-col items-center">
        <ImagePerfil size="small"/>
        <div class="text-center mt-4">
            <t1 class="font_title text-4xl">{name_user}</t1>
            <t2 class="font_title text-3xl">Web Developer</t2>
            <p class="text-base">I specialize in turning complex data into actionable insights, building scalable BI solutions that drive business growth and efficiency.</p>
        </div>
    </div>    
</container>