---
import {name_user} from '../constants'
import ImagePerfil from './Image_perfil.astro'
import BotaoTema from './Botao_tema.astro'
---
<BotaoTema />
<div>
    <div>
        <ImagePerfil size="small"/>
        <div class="flex flex-col">
            <t1 class="font_title text-4xl" >{name_user}</t1>
            <t2 class="font_title text-3xl" >Web Developer</t2>
            <p class="text-base" >I specialize in turning complex data into actionable insights, building scalable BI solutions that drive business growth and efficiency.</p>
        </div>        
    </div>    
    <div>
        <a href="/">Home</a>
        <a href="/sobre">Sobre</a>
        <a href="/cv">CV</a>
        <a href="/contato">Contato</a>
    </div>
</div>