---
import {name_user} from '../constants'
import ImagePerfil from './Image_perfil.astro'
import BotaoTema from './Botao_tema.astro'
---
<BotaoTema />
<container class="w-full max-w-5xl mx-auto px-5 box-border">
    <div class="flex flex-col items-center">
        <ImagePerfil size="small"/>
        <div class="text-center mt-4 flex flex-col items-center gap-2">
            <t1 class="font_title text-4xl">{name_user}</t1>
            <t2 class="font_title text-3xl">Web Developer</t2>
            <p class="text-base mt-4">Sou um desenvolvedor full stack que trabalha com a criação de soluções eficientes, integrando diversas ferramentas de IA para otimizar processos e automações.</p>
            <div class="flex gap-4 mt-4">
                <p>linkedin</p>
                <p>e-mail</p>
            </div>
        </div>      
    </div>    
</container>