---
const { titulo, ano, descricao } = Astro.props;
---

<div 
  class="quadro-experiencia border border-gray-600 rounded-lg p-4 cursor-pointer transition-all duration-500 bg-gray-900 w-full"
>
  <div class="flex justify-between items-center">
    <h3 class="text-lg font-bold text-gray-200">{titulo}</h3>
    <span class="text-sm text-gray-400 p-1">{ano}</span>
  </div>
  <div 
    class="descricao overflow-hidden transition-all duration-500 max-h-0 opacity-0"
  >
    <ul class="mt-2 text-gray-400 w-full text-left leading-relaxed list-disc list-inside">
      {descricao.split('. ').map((item:string) => (
        <li>{item.trim()}</li>
      ))}
    </ul>
  </div>
</div>

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.quadro-experiencia').forEach((element) => {
      element.addEventListener('click', () => {
        const descricao = element.querySelector('.descricao');
        const isOpen = descricao.classList.contains('max-h-screen');

        if (isOpen) {
          descricao.classList.remove('max-h-screen', 'opacity-100');
          descricao.classList.add('max-h-0', 'opacity-0');
        } else {
          descricao.classList.remove('max-h-0', 'opacity-0');
          descricao.classList.add('max-h-screen', 'opacity-100');
        }
      });
    });
  });
</script>