---
import Skill from "./Skill.astro";
import Carousel from "./Carousel.astro";
const { titulo, skills, descricao, listaImagens } = Astro.props;
---

<div 
  class="border border-gray-300 dark:border-gray-600 rounded-lg p-4 bg-white dark:bg-black/50"
>
  <div class="flex justify-between items-center">
    <h3 class="text-lg font-bold text-gray-800 dark:text-gray-200">{titulo}</h3>
  </div>
  <div 
    class="descricao"
  >    
    <div class="mt-2 text-gray-600 dark:text-gray-400 w-full text-center">
      <Carousel slides={listaImagens} />
      <div class="flex gap-3 w-full justify-center my-5 flex-wrap align-center justify-center">
        { skills && skills.length ? skills.map((skill: string, index: number) => (
          <Skill nome={skill} />
        )) : '' }
      </div>
      <div>{descricao}</div>
    </div>
  </div>
</div>