---
import '../styles/global.css';
import {name_user} from '../constants'
import NightSky from '../components/NightSky.astro';
---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" /> 
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} /> -->
		<title>{name_user}</title>
	</head>
	<body class="dark-mode">
		<div class="wrapper max-w-5xl mx-auto px-5 box-border">
			<NightSky/>
			<slot />
		</div>
	</body>
</html>